spring:
    datasource:
        url: jdbc:mariadb://localhost:3306/hyeongjun?characterEncoding=UTF-8
        username: hyeongjun
        password: test1234
        driver-class-name: org.mariadb.jdbc.Driver
    thymeleaf:
        cache: false
    mvc:
        pathmatch:
            matching-strategy: ant_path_matcher

    jpa:
        database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
        open-in-view: false
        show-sql: true
        hibernate:
            ddl-auto: update

    logging:
        file:
            name: ${user.dir}/log/test.log
            max-history: 7
            max-size: 10MB
        level:
            com.example.mytodolist : error
            com.example.mytodolist.controller : debug

server:
    port: 5152
